body {
    margin: 0;
    font-family: 'Roboto',  sans-serif;
    /* font-size: 14px;
    color: white; */
    background-color: white;
}

*, *:before, *:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: #6c7279 1px solid;
    padding: 35px 0;
    align-items: center;
}

.nav {

}

.nav__link {
    padding-left: 50px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .2s linear;
}

.nav__link:first-child {
    padding: 0px;
}

.nav__link:hover {
    text-decoration: underline;
    opacity: 1;
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background: #31344e url('img/intro-bg.jpg') center no-repeat ;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    font-size: 22px;
    color: white;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;
}


.btn {
    display: inline-block;
    padding: 14px 40px;
    vertical-align: top;
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    border-radius: 3px;
    border: 0;
    cursor: pointer;

    transition: background .1s linear;
}

.btn--red {
    background-color: red;    
}

.btn--red:hover {
    background-color: rgb(163, 64, 64);    
}



.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.feature__item{
    width: 33.333333%;
    text-align: center;
    padding: 0 30px;
    margin: 25px 0;
}

.features__icon {
    margin-bottom: 20px;
}

.features__title {
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}
